<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Lista telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/> 
	<style>	
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			margin-top: 20px;
		
		}
		.form-control {
			margin.bottom: 5px;		
		}
		.selecionado {
			background-color: yellow;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);	
		angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
			$scope.app = "Lista telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99999999"},
				{nome: "Ana", telefone: "99999988"},
				{nome: "Maria", telefone: "99999977"},
			
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular"},
				{nome: "Vivo", codigo: 15, categoria: "Celular"},
				{nome: "Tim", codigo: 45, categoria: "Celular"},
				{nome: "GVT", codigo: 25, categoria: "Fixo"},
				{nome: "Embratel", codigo: 21, categoria: "Fixo"},
			];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function(contato){
					if (!contato.selecionado) return contato;
				});	
			};
			$scope.isContatoSelecionado = function (contatos) {
				return $scope.contatos.some(function(contato){
					return contato.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaController">

	<div class="jumbotron">
		<h3>{{app}}</h3>
 		<table class="table table-striped" ng-show="contatos.length > 0">
			<tr>
				<th>Nome</th>
				<th>Nome</th>				
				<th>Telefone</th>
				<th>Operadora</th>				
			</tr>
			<tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
				<td><input type="checkbox" name="" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>				
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>				
			</tr>
		</table>
		<hr/>
		{{contatoForm.$valid}}
		<form name="contatoForm">
			<input type="text" ng-model="contato.nome" placeholder="Nome" name="nome" class="form-control" ng-required="true" ng-minlength="10"/>
			<input type="text" ng-model="contato.telefone" placeholder="telefone" name="telefone" ng-required="true" class="form-control" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome group by operadora.categoria for operadora in operadoras" class="form-control">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor preencha o nome.
			</div>
			<div ng-message="minlength">
				O campo nome deve ter no minimo 10 caracteres
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor preencha o telefone.
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato 99999-9999
		</div>
		<button ng-click="adicionarContato(contato)" class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
		<button ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado()">Apagar contatos</button>

		{{contato}}

	</div>

	<div ng-include="'footer.html'"></div>

</body>
</html>
